
.mutations-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
.mutation {
    border: 2px solid #333;
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
}
img {
    width: 100%;
    border-radius: 5px;
}
